[submodule "2109-wns-remote1-greenteam-front"]
	path = client
	url = https://github.com/WildCodeSchool/2109-wns-remote1-greenteam-front.git
[submodule "server"]
	path = server
	url = https://github.com/WildCodeSchool/2109-wns-remote1-greenteam-back.git
